<!-- <nav class="navbar navbar-default">
        <div class="container">
          <h3 class="text-center">Employee Details of {{employeeTitle}}</h3>
        </div>
      </nav> -->
<h3> You select Employee Id is</h3>
<div> {{employee.id}} </div>
   <!-- <button type="button" class="btn btn-primary" (click)="goPrev()">Prev</button>
   <button type="button" class="btn btn-priamry" (click)="goNext()">Next</button> -->
   <button type="button" class="btn btn-priamry" (click)="goBack()">Go Back</button>
