<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6"><b>Employee ID</b>: {{employee.id}}</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2"><a (click)="fliptoresume(employee)">Flip To Resume</a></div>
      </div>
      <hr>
         <p class="text-center"><b>Name</b> :    {{employee.name}}</p>
         <p class="text-center"><b>Email</b> :   {{employee.email}}</p>        
         <p class="text-center"><b>Address</b> : {{employee.address}}</p>
         <p class="text-center"><b>City</b> :    {{employee.city}}</p>
         <p class="text-center"><b>Zip Code</b> :    {{employee.zipcode}}</p>
         <p class="text-center"><b>Phone</b> :   <a>{{employee.phone}}</a></p>
      <hr>
      <button type="button" class="btn btn-priamry" (click)="goBack()">Go Back</button>
    </div>
   
  </div>
</div>
   <!-- <button type="button" class="btn btn-primary" (click)="goPrev()">Prev</button>
   <button type="button" class="btn btn-priamry" (click)="goNext()">Next</button> -->
  
