<div class="container">
        <my-tabs>
                <my-tab [tabTitle]="'Info'">
                  Information of {{employee.name}}.
                </my-tab>

                <my-tab tabTitle="Projects">
                 Projects of {{employee.name}}.
                </my-tab>

                 <my-tab tabTitle="Hobbies">
                 Hobbies of {{employee.name}}.
                </my-tab>

                <my-tab tabTitle="Notes">
                 Notes of {{employee.name}}.
                </my-tab>
              </my-tabs>
        
        <button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
       
</div>



